

body {
 background-image: url("https://i.imgur.com/pLrUeHN.jpg");
 background-size: 100%;
 background-repeat: no-repeat;
background-color: black;
}

.link3 {
font-family: 'Saira Extra Condensed', sans-serif;
color: white;
font-size: 150%;
text-decoration: none;
padding-left: 90%;
}

.link4
{
font-family: 'Saira Extra Condensed', sans-serif;
color: white;
font-size: 150%;
text-decoration: none;
margin: 0% 0% 0% 0%;
padding-left: 0.8%;
}

h2.a1
{
color: white;
font-family: 'Hepta Slab', serif;
font-size: 27px;

}

p.a2
{
font-family: 'Major Mono Display', monospace;
color: white;
font-size: 20px;



}

h2.a3
{
color: white;
font-family: 'Hepta Slab', serif;
font-size: 27px;

}

p.a4
{
font-family: 'Major Mono Display', monospace;
color: white;
font-size: 20px;

}

p.a5
{
font-family: 'Saira Extra Condensed', sans-serif;
color: white;
text-align: center
}

p.a6
{
font-family: 'Saira Extra Condensed', sans-serif;
color: white;
padding-left: 50%;
}

img1
{
margin: 0% 0% 0% 50%;

}

body
{
	
margin: 0% 0% 0% 5%;

}

img.img2
{
margin-left: 33%;

}
	
	
